
@mixin menu-items-placement() {
    &:nth-child(1){
        bottom: calc(30px + (4* 20px) + (4* 35px));
        left: calc(20px + (0* 20px) + 5px);
    }
    &:nth-child(2){
        bottom: calc(30px + (3* 20px) + (3* 35px));
        left: calc(20px + (1* 20px) + 5px);
    }
    &:nth-child(3){
        bottom: calc(30px + (2* 20px) + (2* 35px));
        left: calc(20px + (2* 20px) + (1* 15px) - 5px );
    }
    &:nth-child(4){
        bottom: calc(30px + (1* 20px) + (1* 35px));
        left: calc(20px + (3* 20px) + (2* 15px) + 10px);
    }
    &:nth-child(5){
        // bottom: calc(20px + 20px + ($menuWidth - 40px - 80px) / 5);
        bottom: calc(32px + (0* 20px) + (0* 35px));
        left: calc(20px + (4* 20px) + (5* 15px) + 30px);
    }
}

@mixin landing-page-bg-image() {
    .landing {
        background-image: url('./images/landingBGMobile.jpeg');
    }

    @media (min-width: 450px) {
        .landing {
            background-image: url('./images/landingBGMidSize.jpeg');
        }
    }

    @media(min-width: 1000px) and (max-height:800px) {
        .landing {
            background-image: url('./images/landingBGFullscreen.jpeg');
        }
    }

    @media (min-width:1200px) {
        .landing {
            background-image: url('./images/landingBGFullscreen.jpeg');
        }
    }
}