@import './sass/reset';

// ======= Variables ======= //
@import './sass/variables';

// ======= Mixins ======= //
@import './sass/mixins';

// ======= Components ======= //
@import './Components/Nav/Nav';
@import './Components/Home/Home';
@import './Components/Season/Season';
@import './Components/Tickets/Tickets';
@import './Components/Support/Support';
@import './Components/About/About';


@include landing-page-bg-image();
@include about-page-bg-image();
@include season-page-bg-image();
@include support-page-bg-image();

.mobileHeader {
    width: 100vw;
    display: block;
}

.fullscreenHeader {
    width: 100vw;
    display: none;
}

@media (min-width: 650px) {
    .mobileHeader{
        display: none;
    }
    .fullscreenHeader{
        display: block;
    }
}