@import './sass/reset';

// ======= Variables ======= //
@import './sass/variables';

// ======= Mixins ======= //
@import './sass/mixins';

// ======= Components ======= //
@import './Components/Nav/Nav';
@import './Components/Home/Home';
@import './Components/Season/Season';
@import './Components/Tickets/Tickets';
@import './Components/Support/Support';
@import './Components/About/About';


@include landing-page-bg-image();
@include about-page-bg-image();
@include season-page-bg-image();
@include support-page-bg-image();


// #overAll {
//     width: 300vw;
//     height: 300vh;
//     // border-radius: 50%;
//     position: fixed;
//     top: -150vh;
//     // right: -150vw;
//     background-color: black;
//     opacity: 1;
//     z-index: 5;
// }

.overAll {
    position: fixed;
    background-color: black;
    opacity: 1;
    z-index: 5;
}
#overAllTopLeft{
    width: 50vw;
    height: 50vh;

    top: 0vh;
    left: 0vw;
}
#overAllTopRight {
    width: 50vw;
    height: 50vh;

    top: 0vh;
    left: 50vw;
}
#overAllBottomLeft {
    width: 50vw;
    height: 50vh;

    top: 50vh;
    left: 0vw;
}
#overAllBottomRight{
    width: 50vw;
    height: 50vh;

    top: 50vh;
    left: 50vw;
}

.mobileHeader {
    width: 100vw;
    display: block;
}

.fullscreenHeader {
    width: 100vw;
    display: none;
}

@media (min-width: 650px) {
    .mobileHeader{
        display: none;
    }
    .fullscreenHeader{
        display: block;
    }
}